---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Layout from 'astro-travelens/Layout.astro'
import Header from 'astro-travelens/Header.astro'
import Tags from 'astro-travelens/Tags.astro'
import Footer from 'astro-travelens/Footer.astro'

interface Props {
  trip: CollectionEntry<'trip'>
}

const { trip } = Astro.props

const slugify = (url: string) =>
  url
    .toLowerCase()
    .replace(/[^a-z0-9 -]/g, '')
    .replace(/\s+/g, '-')
---

<Layout
  title={trip.data.title}
  description={trip.data.description}
  date={trip.data.end}
  image={trip.data.image}
  tags={trip.data.tags}
>
  <Header />
  <div class='relative w-full flex items-center justify-center overflow-hidden bg-black -mt-24'>
    <div class='relative h-96'>
      <Image src={trip.data.image} class='w-full object-cover opacity-50' alt={trip.data.title} />
    </div>
  </div>
  <div class='relative z-10 mx-auto max-w-4xl bg-white px-12 pt-12 -mt-32 lg:px-24'>
    <h2 class='flex items-center text-xs text-neutral-600 tracking-widest uppercase'>
      <a href={'/place/' + slugify(trip.data.place)} class='hover:text-pink'>
        <span class='i-fa6-solid-globe h-4 w-4'></span>
        <span class='ml-1'>{trip.data.place}</span>
      </a>
      <span class='i-fa6-solid-angles-right mx-4 h-4 w-4'></span>
      <span class='i-fa6-solid-location-arrow h-4 w-4'></span>
      <span class='ml-1'>{trip.data.location}</span>
    </h2>
    <h1 class='font-display mt-4 text-2xl text-gray-900 md:text-3xl'>
      {trip.data.title}
    </h1>
    <Tags tags={trip.data.tags} />
    <div class='my-2 flex items-center text-neutral-600'>
      <span class='i-fa6-solid-calendar-days h-4 w-4'></span>
      <span class='ml-1'>
        {
          new Date(trip.data.start).toLocaleString('en-AU', {
            dateStyle: 'long',
            timeZone: trip.data.timezone
          })
        }
      </span>
      <span class='i-fa6-solid-arrow-right mx-1 h-4 w-4'></span>
      <span class='ml-1'>
        {
          new Date(trip.data.end).toLocaleString('en-AU', {
            dateStyle: 'long',
            timeZone: trip.data.timezone
          })
        }
      </span>
    </div>

    <div class='prose-sm lg:prose-lg mt-6 italic prose sm:prose'>
      {trip.data.description}
    </div>
    <hr class='h-1 w-full border-0 rounded bg-pink-200' />
  </div>
  <slot />
  <Footer />
</Layout>
